src/main/webapp/WEB-INF/wsdl/Admazing.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://admazing.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="AdmazingService" targetNamespace="http://admazing.com/">
	<wsdl:types>
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://admazing.com/" elementFormDefault="unqualified"
		targetNamespace="http://admazing.com/" version="1.0">

		<xs:complexType name="userModel">
			<xs:sequence>
				<xs:element name="idUser" type="xs:string" />
				<xs:element name="name" type="xs:string" />
				<xs:element name="firstLastName" type="xs:string" />
				<xs:element name="secondLastName" type="xs:string" />
				<xs:element name="age" type="xs:integer" />
				<xs:element name="gender" type="xs:string" />
				<xs:element name="password" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="storeModel">
			<xs:sequence>
				<xs:element name="idStore" type="xs:string" />
				<xs:element name="idCommercialArea" type="xs:string" />
				<xs:element name="nameStore" type="xs:string" />
				<xs:element name="email" type="xs:string" />
				<xs:element name="phoneNumber" type="xs:string"/>
				<xs:element name="imageStore" type="xsd:base64Binary"/>
				
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="categoryModel">
			<xs:sequence>
				<xs:element name="idCategory" type="xs:string" />
				<xs:element name="description" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="StoreCategoryModel">
			<xs:sequence>
				<xs:element name="idStoreCategory" type="xs:string" />
				<xs:element name="idStore" type="xs:string" />
				<xs:element name="idCategory" type="xs:string" />
			</xs:sequence>
		</xs:complexType>				
		<xs:complexType name="productModel">
			<xs:sequence>
				<xs:element name="idProduct" type="xs:string" />
				<xs:element name="idCategory" type="xs:string" />
				<xs:element name="name" type="xs:string" />
				<xs:element name="brand" type="xs:string" />
				<xs:element name="descriptionProduct" type="xs:string" />
				<xs:element name="price" type="xs:decimal" />
				<xs:element name="origin" type="xs:string" />
			</xs:sequence>
		</xs:complexType>		
		<xs:complexType name="promotionModel">
			<xs:sequence>
				<xs:element name="idPromotion" type="xs:string" />
				<xs:element name="idCategory" type="xs:string" />
				<xs:element name="idTypePromotion" type="xs:string" />
				<xs:element name="idStore" type="xs:string" />
				<xs:element name="description" type="xs:string" />
				<xs:element name="startDate" type="xs:dateTime" />
				<xs:element name="endDate" type="xs:dateTime" />
				<xs:element name="imagePromotion" type="xsd:base64Binary"/>
				<xs:element name="idProduct" type="xs:string" />
			</xs:sequence>
		</xs:complexType>				
		<xs:complexType name="promotionTypeModel">
			<xs:sequence>
				<xs:element name="idPromotionType" type="xs:string" />
				<xs:element name="namePromotionType" type="xs:string" />
			</xs:sequence>
		</xs:complexType>		
		<xs:complexType name="promotionDetailedModel">
			<xs:sequence>				
				<xs:element name="promotion" type="tns:promotionModel" />
				<xs:element name="product" type="tns:productModel" />
				<xs:element name="promotionType" type="tns:promotionTypeModel" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="commercialAreaModel">
			<xs:sequence>
				<xs:element name="idCommercialArea" type="xs:string" />
				<xs:element name="nameCommercialArea" type="xs:string" />
				<xs:element name="longitude" type="xs:string" />
				<xs:element name="latitude" type="xs:string" />
				<xs:element name="distance" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>		
		<xs:complexType name="accessModel">
			<xs:sequence>
				<xs:element name="idAccess" type="xs:string" />
				<xs:element name="idUser" type="xs:string" />
				<xs:element name="idCommercialArea" type="xs:string" />
				<xs:element name="date" type="xs:dateTime" />
				<xs:element name="time" type="xs:time" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="couponBookModel">
			<xs:sequence>
				<xs:element name="idUser" type="xs:string" />
				<xs:element name="idCouponBook" type="xs:string" />
				<xs:element name="idPromotion" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="preferenceModel">
			<xs:sequence>
				<xs:element name="idPreference" type="xs:string" />			
				<xs:element name="idUser" type="xs:string" />
				<xs:element name="idCategory" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		
		<xs:element name="logInRequest" type="tns:logInRequest" />
		<xs:element name="logInResponse" type="tns:logInResponse" />
		<xs:complexType name="logInRequest">
			<xs:sequence>
				<xs:element minOccurs="1" name="idUser" type="xs:string" />
				<xs:element minOccurs="1" name="password" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="logInResponse">
			<xs:sequence>
				<xs:element  name="result" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>

		<xs:element name="getAllStoresRequest" type="tns:getAllStoresRequest" />
		<xs:element name="getAllStoresResponse" type="tns:getAllStoresResponse" />
		<xs:complexType name="getAllStoresRequest"/>
		<xs:complexType name="getAllStoresResponse">
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="store"
					type="tns:storeModel" />
			</xs:sequence>
		</xs:complexType>
		<xs:element name="getAllStoresbyCommercialAreaRequest" type="tns:getAllStoresbyCommercialAreaRequest" />
		<xs:element name="getAllStoresbyCommercialAreaResponse" type="tns:getAllStoresbyCommercialAreaResponse" />
		<xs:complexType name="getAllStoresbyCommercialAreaRequest">
			<xs:sequence>
				<xs:element minOccurs="1" name="idUser" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="getAllStoresbyCommercialAreaResponse">
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="store"
					type="tns:storeModel" />
			</xs:sequence>
		</xs:complexType>
		
		<xs:element name="getByIdCategoryRequest" type="tns:getByIdCategoryRequest" />
		<xs:element name="getByIdCategoryResponse" type="tns:getByIdCategoryResponse" />
		<xs:complexType name="getByIdCategoryRequest">
			<xs:sequence>
					<xs:element minOccurs="1" name="idStore" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="getByIdCategoryResponse">
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="category"
					type="tns:categoryModel" />
			</xs:sequence>
		</xs:complexType>
		
		<xs:element name="getByIdPromotionRequest" type="tns:getByIdPromotionRequest" />
		<xs:element name="getByIdPromotionResponse" type="tns:getByIdPromotionResponse" />
		<xs:complexType name="getByIdPromotionRequest">
			<xs:sequence>
					<xs:element minOccurs="1" name="idStore" type="xs:string" />
					<xs:element minOccurs="1" name="idCategory" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="getByIdPromotionResponse">
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="promotion"
					type="tns:promotionModel" />
			</xs:sequence>
		</xs:complexType>
		
		<xs:element name="getPromotionDetailedRequest" type="tns:getPromotionDetailedRequest" />
		<xs:element name="getPromotionDetailedResponse" type="tns:getPromotionDetailedResponse" />
		<xs:complexType name="getPromotionDetailedRequest">
			<xs:sequence>
					<xs:element minOccurs="1" name="idStore" type="xs:string" />
					<xs:element minOccurs="1" name="idCategory" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="getPromotionDetailedResponse">
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="promotionDetailed"
					type="tns:promotionDetailedModel" />
			</xs:sequence>
		</xs:complexType>
		
		<xs:element name="saveAccessRequest" type="tns:saveAccessRequest" />
		<xs:element name="saveAccessResponse" type="tns:saveAccessResponse" />
		<xs:complexType name="saveAccessRequest">
			<xs:sequence>
				<xs:element minOccurs="1" name="idUser" type="xs:string" />
				<xs:element minOccurs="1" name="latitude" type="xs:string" />
				<xs:element minOccurs="1" name="longitude" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="saveAccessResponse">
			<xs:sequence>
				<xs:element  name="result" type="xs:boolean" />
				<xs:element minOccurs="1" name="nameCommercialArea" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		
		<xs:element name="getbyCommercialAreaCouponBookRequest" type="tns:getbyCommercialAreaCouponBookRequest" />
		<xs:element name="getbyCommercialAreaCouponBookResponse" type="tns:getbyCommercialAreaCouponBookResponse" />
		<xs:complexType name="getbyCommercialAreaCouponBookRequest">
			<xs:sequence>
					<xs:element minOccurs="1" name="idUser" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="getbyCommercialAreaCouponBookResponse">
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="coupon"
					type="tns:promotionModel" />
			</xs:sequence>
		</xs:complexType>
		
		<xs:element name="saveCouponBookRequest" type="tns:saveCouponBookRequest" />
		<xs:element name="saveCouponBookResponse" type="tns:saveCouponBookResponse" />
		<xs:complexType name="saveCouponBookRequest">
			<xs:sequence>
					<xs:element minOccurs="1" name="idUser" type="xs:string" />
					<xs:element minOccurs="1" name="idPromotion" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="saveCouponBookResponse">
			<xs:sequence>
				<xs:element  name="result" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
		
		<xs:element name="deleteFromCouponBookRequest" type="tns:deleteFromCouponBookRequest" />
		<xs:element name="deleteFromCouponBookResponse" type="tns:deleteFromCouponBookResponse" />
		<xs:complexType name="deleteFromCouponBookRequest">
			<xs:sequence>
					<xs:element minOccurs="1" name="idUser" type="xs:string" />
					<xs:element minOccurs="1" name="idPromotion" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="deleteFromCouponBookResponse">
			<xs:sequence>
				<xs:element  name="result" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
		
		</xs:schema>
		
		<xsd:schema
		xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.w3.org/2001/XMLSchema"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
        jaxb:version="2.0">	
			<annotation>
	        <appinfo>
	            <jaxb:schemaBindings>
	                <jaxb:package name="com.admazing"/>
	            </jaxb:schemaBindings>
	        </appinfo>
	    	</annotation>
		</xsd:schema>
		
	</wsdl:types>

	<wsdl:message name="logInRequest">
		<wsdl:part element="tns:logInRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="logInResponse">
		<wsdl:part element="tns:logInResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllStoresRequest">
		<wsdl:part element="tns:getAllStoresRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllStoresResponse">
		<wsdl:part element="tns:getAllStoresResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllStoresbyCommercialAreaRequest">
		<wsdl:part element="tns:getAllStoresbyCommercialAreaRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllStoresbyCommercialAreaResponse">
		<wsdl:part element="tns:getAllStoresbyCommercialAreaResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getByIdCategoryRequest">
		<wsdl:part element="tns:getByIdCategoryRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getByIdCategoryResponse">
		<wsdl:part element="tns:getByIdCategoryResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getByIdPromotionRequest">
		<wsdl:part element="tns:getByIdPromotionRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getByIdPromotionResponse">
		<wsdl:part element="tns:getByIdPromotionResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPromotionDetailedRequest">
		<wsdl:part element="tns:getPromotionDetailedRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPromotionDetailedResponse">
		<wsdl:part element="tns:getPromotionDetailedResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveAccessRequest">
		<wsdl:part element="tns:saveAccessRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveAccessResponse">
		<wsdl:part element="tns:saveAccessResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getbyCommercialAreaCouponBookRequest">
		<wsdl:part element="tns:getbyCommercialAreaCouponBookRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getbyCommercialAreaCouponBookResponse">
		<wsdl:part element="tns:getbyCommercialAreaCouponBookResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveCouponBookRequest">
		<wsdl:part element="tns:saveCouponBookRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveCouponBookResponse">
		<wsdl:part element="tns:saveCouponBookResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteFromCouponBookRequest">
		<wsdl:part element="tns:deleteFromCouponBookRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteFromCouponBookResponse">
		<wsdl:part element="tns:deleteFromCouponBookResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
		
	<wsdl:portType name="AdmazingPortType">
		<wsdl:operation name="logIn">
			<wsdl:input message="tns:logInRequest" name="logInRequest">
			</wsdl:input>
			<wsdl:output message="tns:logInResponse" name="logInResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllStores">
			<wsdl:input message="tns:getAllStoresRequest" name="getAllStoresRequest">
			</wsdl:input>
			<wsdl:output message="tns:getAllStoresResponse" name="getAllStoresResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllStoresbyCommercialArea">
			<wsdl:input message="tns:getAllStoresbyCommercialAreaRequest" name="getAllStoresbyCommercialAreaRequest">
			</wsdl:input>
			<wsdl:output message="tns:getAllStoresbyCommercialAreaResponse" name="getAllStoresbyCommercialAreaResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getByIdCategory">
			<wsdl:input message="tns:getByIdCategoryRequest" name="getByIdCategoryRequest">
			</wsdl:input>
			<wsdl:output message="tns:getByIdCategoryResponse" name="getByIdCategoryResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getByIdPromotion">
			<wsdl:input message="tns:getByIdPromotionRequest" name="getByIdPromotionRequest">
			</wsdl:input>
			<wsdl:output message="tns:getByIdPromotionResponse" name="getByIdPromotionResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPromotionDetailed">
			<wsdl:input message="tns:getPromotionDetailedRequest" name="getPromotionDetailedRequest">
			</wsdl:input>
			<wsdl:output message="tns:getPromotionDetailedResponse" name="getPromotionDetailedResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveAccess">
			<wsdl:input message="tns:saveAccessRequest" name="saveAccessRequest">
			</wsdl:input>
			<wsdl:output message="tns:saveAccessResponse" name="saveAccessResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getbyCommercialAreaCouponBook">
			<wsdl:input message="tns:getbyCommercialAreaCouponBookRequest" name="getbyCommercialAreaCouponBookRequest">
			</wsdl:input>
			<wsdl:output message="tns:getbyCommercialAreaCouponBookResponse" name="getbyCommercialAreaCouponBookResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveCouponBook">
			<wsdl:input message="tns:saveCouponBookRequest" name="saveCouponBookRequest">
			</wsdl:input>
			<wsdl:output message="tns:saveCouponBookResponse" name="saveCouponBookResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteFromCouponBook">
			<wsdl:input message="tns:deleteFromCouponBookRequest" name="deleteFromCouponBookRequest">
			</wsdl:input>
			<wsdl:output message="tns:deleteFromCouponBookResponse" name="deleteFromCouponBookResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="AdmazingServiceSoapBinding"	type="tns:AdmazingPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="logIn">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="logInRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="logInResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllStores">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getAllStoresRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getAllStoresResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllStoresbyCommercialArea">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getAllStoresbyCommercialAreaRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getAllStoresbyCommercialAreaResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getByIdCategory">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getByIdCategoryRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getByIdCategoryResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>		
		<wsdl:operation name="getByIdPromotion">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getByIdPromotionRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getByIdPromotionResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>		
		<wsdl:operation name="getPromotionDetailed">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getPromotionDetailedRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getPromotionDetailedResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveAccess">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="saveAccessRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="saveAccessResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getbyCommercialAreaCouponBook">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getbyCommercialAreaCouponBookRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getbyCommercialAreaCouponBookResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveCouponBook">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="saveCouponBookRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="saveCouponBookResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteFromCouponBook">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="deleteFromCouponBookRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="deleteFromCouponBookResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	        
	</wsdl:binding>

	<wsdl:service name="AdmazingService">
		<wsdl:port binding="tns:AdmazingServiceSoapBinding" name="AdmazingPort">
			<soap:address
				location="http://webws-adsws.rhcloud.com/WebWS/services/AdmazingService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>