localWS/WebWS/src/main/webapp/WEB-INF/wsdl/Admazing.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://admazing.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="AdmazingService" targetNamespace="http://admazing.com/">
	<wsdl:types>
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://admazing.com/" elementFormDefault="unqualified"
		targetNamespace="http://admazing.com/" version="1.0">

		<xs:complexType name="UsuarioModel">
			<xs:sequence>
				<xs:element name="idUsuario" type="xs:string" />
				<xs:element name="nombre" type="xs:string" />
				<xs:element name="apellidoPaterno" type="xs:string" />
				<xs:element name="apellidoMaterno" type="xs:string" />
				<xs:element name="edad" type="xs:integer" />
				<xs:element name="genero" type="xs:string" />
				<xs:element name="password" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="TiendaModel">
			<xs:sequence>
				<xs:element name="codigo" type="xs:string" />
				<xs:element name="zonacomercial" type="xs:string" />
				<xs:element name="razonsocial" type="xs:string" />
				<xs:element name="email" type="xs:string" />
				<xs:element name="telefono" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="CategoriaModel">
			<xs:sequence>
				<xs:element name="idcategoria" type="xs:string" />
				<xs:element name="descripcion" type="xs:string" />
			</xs:sequence>
		</xs:complexType>		
		<xs:complexType name="PromocionModel">
			<xs:sequence>
				<xs:element name="idpromocion" type="xs:string" />
				<xs:element name="categoria" type="xs:string" />
				<xs:element name="tipopromocion" type="xs:string" />
				<xs:element name="tienda" type="xs:string" />
				<xs:element name="descripcion" type="xs:string" />
				<xs:element name="fechainicio" type="xs:dateTime" />
				<xs:element name="fechafin" type="xs:dateTime" />
				<xs:element name="imagenpromo" type="xsd:base64Binary"/>
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="ZonaComercialModel">
			<xs:sequence>
				<xs:element name="idzonacomercial" type="xs:string" />
				<xs:element name="nombre" type="xs:string" />
				<xs:element name="longitud" type="xs:string" />
				<xs:element name="latitud" type="xs:string" />
				<xs:element name="distancia" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>		
		<xs:complexType name="AccesoModel">
			<xs:sequence>
				<xs:element name="idacceso" type="xs:string" />
				<xs:element name="idusuario" type="xs:string" />
				<xs:element name="zonacomercial" type="xs:string" />
				<xs:element name="fecha" type="xs:dateTime" />
				<xs:element name="horaacceso" type="xs:time" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="CuponeraModel">
			<xs:sequence>
				<xs:element name="idusuario" type="xs:string" />
				<xs:element name="idcuponera" type="xs:string" />
				<xs:element name="promocion" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		
		<xs:element name="iniciarSesionRequest" type="tns:iniciarSesionRequest" />
		<xs:element name="iniciarSesionResponse" type="tns:iniciarSesionResponse" />
		<xs:complexType name="iniciarSesionRequest">
			<xs:sequence>
				<xs:element minOccurs="1" name="idUsuario" type="xs:string" />
				<xs:element minOccurs="1" name="password" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="iniciarSesionResponse">
			<xs:sequence>
				<xs:element  name="resultado" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>

		<xs:element name="getAllTiendaRequest" type="tns:getAllTiendaRequest" />
		<xs:element name="getAllTiendaResponse" type="tns:getAllTiendaResponse" />
		<xs:complexType name="getAllTiendaRequest"/>
		<xs:complexType name="getAllTiendaResponse">
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="tiendas"
					type="tns:TiendaModel" />
			</xs:sequence>
		</xs:complexType>
		<xs:element name="getAllTiendabyZonaComercialRequest" type="tns:getAllTiendabyZonaComercialRequest" />
		<xs:element name="getAllTiendabyZonaComercialResponse" type="tns:getAllTiendabyZonaComercialResponse" />
		<xs:complexType name="getAllTiendabyZonaComercialRequest">
			<xs:sequence>
				<xs:element minOccurs="1" name="idUsuario" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="getAllTiendabyZonaComercialResponse">
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="tiendas"
					type="tns:TiendaModel" />
			</xs:sequence>
		</xs:complexType>
		
		<xs:element name="getByIdCategoriaRequest" type="tns:getByIdCategoriaRequest" />
		<xs:element name="getByIdCategoriaResponse" type="tns:getByIdCategoriaResponse" />
		<xs:complexType name="getByIdCategoriaRequest">
			<xs:sequence>
					<xs:element minOccurs="1" name="idTienda" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="getByIdCategoriaResponse">
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="categorias"
					type="tns:CategoriaModel" />
			</xs:sequence>
		</xs:complexType>
		
		<xs:element name="getByIdPromocionRequest" type="tns:getByIdPromocionRequest" />
		<xs:element name="getByIdPromocionResponse" type="tns:getByIdPromocionResponse" />
		<xs:complexType name="getByIdPromocionRequest">
			<xs:sequence>
					<xs:element minOccurs="1" name="idTienda" type="xs:string" />
					<xs:element minOccurs="1" name="idCategoria" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="getByIdPromocionResponse">
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="promociones"
					type="tns:PromocionModel" />
			</xs:sequence>
		</xs:complexType>
		
		<xs:element name="saveAccesoRequest" type="tns:saveAccesoRequest" />
		<xs:element name="saveAccesoResponse" type="tns:saveAccesoResponse" />
		<xs:complexType name="saveAccesoRequest">
			<xs:sequence>
				<xs:element minOccurs="1" name="idUsuario" type="xs:string" />
				<xs:element minOccurs="1" name="latitud" type="xs:string" />
				<xs:element minOccurs="1" name="longitud" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="saveAccesoResponse">
			<xs:sequence>
				<xs:element  name="resultado" type="xs:boolean" />
				<xs:element minOccurs="1" name="nombreZonaComercial" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		
		<xs:element name="getByIdCuponeraRequest" type="tns:getByIdCuponeraRequest" />
		<xs:element name="getByIdCuponeraResponse" type="tns:getByIdCuponeraResponse" />
		<xs:complexType name="getByIdCuponeraRequest">
			<xs:sequence>
					<xs:element minOccurs="1" name="idUsuario" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
		<xs:complexType name="getByIdCuponeraResponse">
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="cupones"
					type="tns:PromocionModel" />
			</xs:sequence>
		</xs:complexType>
		
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="iniciarSesionRequest">
		<wsdl:part element="tns:iniciarSesionRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="iniciarSesionResponse">
		<wsdl:part element="tns:iniciarSesionResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllTiendaRequest">
		<wsdl:part element="tns:getAllTiendaRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllTiendaResponse">
		<wsdl:part element="tns:getAllTiendaResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllTiendabyZonaComercialRequest">
		<wsdl:part element="tns:getAllTiendabyZonaComercialRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllTiendabyZonaComercialResponse">
		<wsdl:part element="tns:getAllTiendabyZonaComercialResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getByIdCategoriaRequest">
		<wsdl:part element="tns:getByIdCategoriaRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getByIdCategoriaResponse">
		<wsdl:part element="tns:getByIdCategoriaResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getByIdPromocionRequest">
		<wsdl:part element="tns:getByIdPromocionRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getByIdPromocionResponse">
		<wsdl:part element="tns:getByIdPromocionResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveAccesoRequest">
		<wsdl:part element="tns:saveAccesoRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveAccesoResponse">
		<wsdl:part element="tns:saveAccesoResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getByIdCuponeraRequest">
		<wsdl:part element="tns:getByIdCuponeraRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getByIdCuponeraResponse">
		<wsdl:part element="tns:getByIdCuponeraResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="AdmazingPortType">
		<wsdl:operation name="iniciarSesion">
			<wsdl:input message="tns:iniciarSesionRequest" name="iniciarSesionRequest">
			</wsdl:input>
			<wsdl:output message="tns:iniciarSesionResponse" name="iniciarSesionResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllTienda">
			<wsdl:input message="tns:getAllTiendaRequest" name="getAllTiendaRequest">
			</wsdl:input>
			<wsdl:output message="tns:getAllTiendaResponse" name="getAllTiendaResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllTiendabyZonaComercial">
			<wsdl:input message="tns:getAllTiendabyZonaComercialRequest" name="getAllTiendabyZonaComercialRequest">
			</wsdl:input>
			<wsdl:output message="tns:getAllTiendabyZonaComercialResponse" name="getAllTiendabyZonaComercialResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getByIdCategoria">
			<wsdl:input message="tns:getByIdCategoriaRequest" name="getByIdCategoriaRequest">
			</wsdl:input>
			<wsdl:output message="tns:getByIdCategoriaResponse" name="getByIdCategoriaResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getByIdPromocion">
			<wsdl:input message="tns:getByIdPromocionRequest" name="getByIdPromocionRequest">
			</wsdl:input>
			<wsdl:output message="tns:getByIdPromocionResponse" name="getByIdPromocionResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveAcceso">
			<wsdl:input message="tns:saveAccesoRequest" name="saveAccesoRequest">
			</wsdl:input>
			<wsdl:output message="tns:saveAccesoResponse" name="saveAccesoResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getByIdCuponera">
			<wsdl:input message="tns:getByIdCuponeraRequest" name="getByIdCuponeraRequest">
			</wsdl:input>
			<wsdl:output message="tns:getByIdCuponeraResponse" name="getByIdCuponeraResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="AdmazingServiceSoapBinding"	type="tns:AdmazingPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="iniciarSesion">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="iniciarSesionRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="iniciarSesionResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllTienda">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getAllTiendaRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getAllTiendaResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllTiendabyZonaComercial">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getAllTiendabyZonaComercialRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getAllTiendabyZonaComercialResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getByIdCategoria">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getByIdCategoriaRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getByIdCategoriaResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>		
		<wsdl:operation name="getByIdPromocion">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getByIdPromocionRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getByIdPromocionResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveAcceso">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="saveAccesoRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="saveAccesoResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getByIdCuponera">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getByIdCuponeraRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getByIdCuponeraResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="AdmazingService">
		<wsdl:port binding="tns:AdmazingServiceSoapBinding" name="AdmazingPort">
			<soap:address
				location="http://localhost:8080/WebWS/services/AdmazingService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>